# Dev environment
# pip - The Python package installer
pip 
# autopep8 - Automatically formats Python code to conform to the PEP 8 style guide.
autopep8 

# App
# google-generativeai - Client library for the Gemini API
google-generativeai

# Loads environment variables from a .env file.
python-dotenv

# Test
# pytest - A framework for writing and running tests.
pytest
# pytest-mock - Provides mocking capabilities for pytest.
pytest-mock
# discord.py - A library for interacting with the Discord API.
discord.py